<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="OPTIONSVerbHandler" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
            <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
            <remove name="StaticFile" />
            <remove name="TRACEVerbHandler" />
            <add name="WrapperShim" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Experiments\UnmanagedTest\x64\Debug\RawIsapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
        </handlers>
    </system.webServer>
</configuration>
